<footer id="footer" class="page-footer indigo">
  <transition name="slide">
    <div class="container" v-if="show">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mates</h5>
          <p class="grey-text text-lighten-4">Matesは、シェアハウス専用のSNSです。あなたのシェアハウスでの暮らしをみんなに共有してみましょう。</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text"> Contact</h5>
          <ul>
            <li>作成者　吉村舜也</li>
            <p>Ruby on Rails　/ Vue.js　/　AWS　/ Docker をメインに勉強しています。</p>
            <li class="valign-wrapper">maoorgri1015@gmail.com</li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/shunyaYoshimra">github　アカウント</a></li>
          </ul>
        </div>
      </div>
    </div>
  </transition>
  <div class="footer-copyright">
    <div class=" container center">
      <div @click="show = !show" v-if="!show"><i  class="material-icons show">arrow_drop_up</i></div>
      <div @click="show = !show" v-else><i class="material-icons show">arrow_drop_down</i></div>
      © 2020 Mates
    </div>
  </div>
</footer>

<%= javascript_pack_tag "footer" %>