<nav class="nav-wrapper indigo">
  <div class="container">
    <%= link_to 'Mates', root_path, class: 'brand-logo', style: 'font-family: "Dancing Script", cursive;'%>
     <a href="#" class="sidenav-trigger" data-target="mobile-links">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-links">
  
</ul>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  $(document).ready(function () {
    $('.sidenav').sidenav();
  })
</script>