// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profiles-new {
  .profile-form {
    height: calc( 1.3em * 7 );
    line-height: 1.3;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 10px;
  }
}

#profiles-show {
  img {
    max-height: 400px;
  }
  .profile-form {
    height: calc( 1.3em * 7 );
    line-height: 1.3;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 10px;
  }
}
